.header {
  display: flex;
  flex-direction: row;

  align-items: center;
  padding-left: 3.5rem;
  height: 40px;
  background-color: var(--black);
  padding-top: 7px;
  padding-bottom: 7px;
}

.logo {
  align-items: flex-start;
  border-right: 1px solid var(--grey-200);
  width: 100px;
  height: 17px;
  padding-left: 8px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 17px;
}
.spanText {
  margin-left: 15px;
  font-size: 10px;
  width: 101.73px;
  height: 21px;
  color: var(--white);
  line-height: normal;
}
