.sideNav {
  width: 300px;
  transition: width 0.3s ease-in-out;
  height: 100%;
  background-color: var(--white);
  padding-top: 0.5rem;
  border-right: 2px solid var(--white-100);
  display: flex;
  flex-direction: column;
}
.sideNavCollapsed {
  composes: sideNav;
  transition: width 0.3s ease-in-out;
  width: 60px;
}
.menuItemsVisible {
  visibility: visible;
}
.menuItems {
  overflow: hidden;
  transition: visibility 0.3s ease-in-out;
  visibility: hidden;
}

.linkText {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: var(--black-font);
  text-decoration: none;
  padding-left: 16px;
}

.linkText:hover {
  background-color: var(--grey-100);
}
.divBtn {
  display: flex;
  height: 2.5rem;
  overflow: hidden;
  width: 100%;
  align-items: center;
  color: var(--black);
  background-color: transparent;
  border: none;
  justify-content: center;
}
.btn {
  height: 100%;
  outline: inherit;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
}
