.mainEventos {
  width: 100%;
  height: calc(100vh - 40px);
  background-color: var(--white);
}

.textEventos {
  width: 100%;
  display: flex;
  color: var(--red-200);
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.15px;
  border-bottom: 1.65px solid var(--grey-200);
  padding: 1rem 0 1rem 3.625rem;
}

.openModal {
  width: 14rem;
  height: 3rem;
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  background: var(--white-200);
  border: 1px solid var(--grey-200);
  border-radius: 5px;
}

.list {
  display: flex;
  flex-direction: column;
  height: calc(100% - 167px);
  width: 100%;
  padding: 1rem;
}
.tableDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(92% - 1rem);
}

.table {
  border-collapse: collapse;

  border-radius: 4px;
  width: 100%;
  height: 87.5%;
}

table,
th,
td {
  border: 1px solid var(--grey-200);
}

.tbHeader th {
  text-align: center;
  width: 35%;
  color: var(--white);
  background-color: var(--orange-500);
}
.tbHeader .date {
  text-align: center;
  width: 20%;
  color: var(--white);
  background-color: var(--orange-500);
}
.tbHeader .processes {
  text-align: center;
  width: 35%;
  color: var(--white);
  background-color: var(--orange-500);
}
.tbHeader .option {
  text-align: center;
  width: 20%;
  color: var(--white);
  background-color: var(--orange-500);
}
.tbHeader {
  height: 12.5%;
}

.table td {
  text-align: center;
  background-color: var(--white);
}

.table tr {
  height: 12.5%;
}

.closeModal {
  position: absolute;
  top: 10px;
  right: 10px;
}

.loadingTable {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.loadingIcon {
  width: 5rem;
  height: 5rem;
}

.buttons {
  width: 100%;
  height: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.modal {
  position: absolute;
  background-color: var(--white);
  width: 900px;
  height: 600px;
  box-shadow: 24px;
}

.modalHeader {
  display: flex;
  justify-content: flex-start;
  padding: 20.57px 0 0 40px;
  border-bottom: 1.65px solid var(--white-200);
  color: var(--red-200);
  letter-spacing: 0.15px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.error {
  text-align: center;
  color: red;
}
.icons {
  position: relative;
  font-size: 20px;
}
.iconsGap {
  margin-left: 4px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.leftContainer {
  display: flex;
  flex-direction: row;
  padding-top: 2.5rem;
  margin: 0 2rem;
  font-size: 16px;
  color: var(--black-200);
  font-style: normal;
  font-family: "Lato";
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.15px;
  gap: 2.5em;
}

.defaultContainer {
  display: flex;
  flex-direction: row;
  margin: 0 2rem;
  font-size: 16px;
  color: #333333;
  font-style: normal;
  font-family: "Lato";
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.15px;
  gap: 2.5em;
}

.fakeCol {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.seletorHeader {
  margin-top: 1.25rem;
  font: 16px arial;
  color: var(--black-200);
  width: min-content;
}

.seletor {
  background: var(--white);
  border: 1px solid var(--white-300);
  border-radius: 4px;
  width: 342.42px;
  height: 44px;
  border-radius: 4px;
  padding-left: 0.813rem;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font: 1em sans-serif;
  color: var(--black);
}

select:invalid {
  color: var(--brown-100);
}

.seletorLabel {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  display: none;
}

.addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--orange-500);
  height: 44px;
  width: 344px;
  border-radius: 3px;
}

.applyButton {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

#applyButton {
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border: none;
}

.defaultInput {
  width: 342.42px;
  height: 44px;
  background: var(--white);
  border: 1px solid var(--white-300);
  border-radius: 4px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  padding-left: 0.813rem;
  margin-bottom: 10px;
}

.addCausaConsequencia {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.15px;
  color: #666666;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  background: transparent;
  border: 0;
}

.seletorHeaderTipo {
  margin-bottom: 0.5rem;
  margin-top: 3.781rem;
}

.btnAddCausa {
  background: transparent;
  border: 0;
}

.minContent {
  width: min-content;
}