.mainEventos {
  width: 100%;
  height: calc(100vh - 40px);
  background-color: var(--white);
}

.textEventos {
  width: 100%;
  display: flex;
  color: var(--red-200);
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.15px;
  border-bottom: 1.65px solid var(--grey-200);
  padding-top: 1rem;
  padding-left: 3.625rem;
}

.openEvents {
  width: Hug (143px);
  height: Hug (30px);
  padding: 7px 19px;
  margin-left: 1.25rem;
  margin-top: 1.72rem;
  background: var(--white-200);
  border: 1px solid var(--grey-200);
  border-radius: 5px;
}

.backgroundPopup {
  background: var(--black-background);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  position: absolute;
  width: 819px;
  min-height: 557px;
  background-color: var(--white);
}

.popupHeader {
  display: flex;
  justify-content: flex-start;
  padding: 20.57px 0 0 40px;
  border-bottom: 1.65px solid var(--white-200);
  color: var(--red-200);
  letter-spacing: 0.15px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
  margin: 0 2rem;
  font-size: 16px;
  color: var(--black-200);
  font-style: normal;
  font-family: "Lato";
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.15px;
}

.seletorFirstHeader {
  margin-bottom: 0.5rem;
}

.seletorHeader {
  margin-bottom: 0.5rem;
  margin-top: 1.25rem;
}

.seletor {
  background: var(--white);
  border: 1px solid var(--white-300);
  border-radius: 4px;
  width: 342.42px;
  height: 44px;
  border-radius: 4px;
  padding-left: 0.813rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font: 1em sans-serif;
  color: var(--black);
}

select:invalid {
  color: var(--brown-100);
}

.seletorLabel {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  display: none;
}

.addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--orange-500);
  height: 44px;
  width: 344px;
  border-radius: 3px;
}

.applyButton {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
}

#applyButton {
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border: none;
}

.closeButton {
  display: flex;
  justify-content: center;
  margin: 0 0 4rem 0;
}

.abortButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background:  rgba(0, 0, 0, 0.1);
  height: 44px;
  width: 172px;
  border-radius: 3px;
}

#closeButton {
  color: var(--black);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border: none;
}

.defaultInput {
  width: 342.42px;
  height: 44px;
  background: var(--white);
  border: 1px solid var(--white-300);
  border-radius: 4px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  padding-left: 0.813rem;
}

.addCausaConsequencia {
  margin-top: 10px;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.15px;
  color: #666666;
}

.addMore {
  align-items: flex-start;
  margin-right: 8px;
  width: 13px;
  height: 13px;
}

.seletorHeaderTipo {
  margin-bottom: .5rem;
  margin-top: 3.781rem;
}
